* ::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
background-color: rgb(248, 145, 205);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box {
width: 95%;
height: 100px;
border: 5px solid black;
border-radius: 30px;
margin: 30px auto;
box-shadow: 1px 5px 10px 5px;
}
/*.title {
    text-align: center;
    padding: 2.5rem 0;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: chocolate;
    font-size: 2.4rem;
    font-family: 'Sevillana', cursive;
}*/
.gallery {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 133px);
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 1rem;

}
.gallery_item {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%,0% 75%, 0% 25%);
    grid-column: span 2;
    height: 283px;
    transition: 0.5s filter;
}
.gallery_item:hover {
    filter: brightness(0.3);
}
.gallery_item:first-of-type {
grid-column: 2 / span 2;

}
/*media queries*/
/*17 min*/

@media screen and (min-width: 270px) and (max-width: 504px) {
    .gallery_item:first-of-type {
        grid-column: 1 / span 2;
}
.gallery {
    grid-auto-rows: 283px;
}
}
@media screen and (min-width: 505px) and (max-width: 685px) {
    .gallery_item:nth-of-type(odd) {
grid-column: 2 / span 2;
    }
}
@media screen and (min-width: 686px) and (max-width: 862px) {
    .gallery_item:nth-of-type(3n + 1) {
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 863px) and (max-width: 1038px) {
    .gallery_item:nth-of-type(4n + 1) {
        grid-column: 2 / span 2;
    }
}
@media screen and (min-width: 1039px) and (max-width: 1215px) {
    .gallery_item:nth-of-type(5n + 1) {
        grid-column: 2 / span 2;
    }
}
@media screen and (min-width: 1216px) and (max-width: 1038px) {
    .gallery_item:nth-of-type(6n + 1) {
        grid-column: 2 / span 2;
    }
}